<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Video Monkey News</string>
				<key>ID</key>
				<string>page0</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Custom Style</string>
				<key>PageTitle</key>
				<string>News</string>
				<key>PluginClassName</key>
				<string>RWBlogPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Blog</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2012-06-12T14:04:53Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>D3620340-95D6-4CC8-90EC-9FE5B8ED23CB</string>
					<key>PageDigests</key>
					<dict>
						<key>news.html</key>
						<dict>
							<key>Digest</key>
							<data>
							W33g8usDbaMoFGtvFZCn
							+w==
							</data>
							<key>Size</key>
							<integer>29539</integer>
						</dict>
						<key>news_files/1e1a842f4cbb152768f3b1ddd4c65571-5.html</key>
						<dict>
							<key>Digest</key>
							<data>
							plHMm6v+ma+zRWh4ntLv
							7g==
							</data>
							<key>Size</key>
							<integer>13852</integer>
						</dict>
						<key>news_files/3968df0b7cf21491c9f8bfdb9cef70b2-3.html</key>
						<dict>
							<key>Digest</key>
							<data>
							bTkm0uONEt5H+3bex4qh
							pA==
							</data>
							<key>Size</key>
							<integer>10940</integer>
						</dict>
						<key>news_files/3ab3b5fb1f304856c861265d8469e7b1-2.html</key>
						<dict>
							<key>Digest</key>
							<data>
							jQoehOMzrPRZkfPZyafx
							Hw==
							</data>
							<key>Size</key>
							<integer>10608</integer>
						</dict>
						<key>news_files/6d8f3231ddde1ea5a011231089d35c50-11.html</key>
						<dict>
							<key>Digest</key>
							<data>
							RuCmwrYhuA5kCUbzsL6G
							oQ==
							</data>
							<key>Size</key>
							<integer>10222</integer>
						</dict>
						<key>news_files/6fe5fbb8bfc0d37f8255229d331416ac-10.html</key>
						<dict>
							<key>Digest</key>
							<data>
							nmpEylEZDVCmkAVbP/5Y
							jw==
							</data>
							<key>Size</key>
							<integer>11233</integer>
						</dict>
						<key>news_files/74e2265a3a8f46c992ddb847828a9dd1-0.html</key>
						<dict>
							<key>Digest</key>
							<data>
							hZupLBJktr3+G8cr2wC6
							kA==
							</data>
							<key>Size</key>
							<integer>10834</integer>
						</dict>
						<key>news_files/75a2c36f9791f796c0286218bf216665-4.html</key>
						<dict>
							<key>Digest</key>
							<data>
							t/0x3MwEu8NVGXhufloY
							KQ==
							</data>
							<key>Size</key>
							<integer>12284</integer>
						</dict>
						<key>news_files/75a3fbe8b7740fdd5eb0761875bf9b78-12.html</key>
						<dict>
							<key>Digest</key>
							<data>
							sk1WDdSc38aTFMrs3yAR
							cQ==
							</data>
							<key>Size</key>
							<integer>10327</integer>
						</dict>
						<key>news_files/853ef4aaaf591e3378f1f63a3fcd2bb1-9.html</key>
						<dict>
							<key>Digest</key>
							<data>
							tEIizGpTvJWxqLBpgZq6
							KQ==
							</data>
							<key>Size</key>
							<integer>12425</integer>
						</dict>
						<key>news_files/archive-2009.html</key>
						<dict>
							<key>Digest</key>
							<data>
							GU00JofHa3iHldwDuvRy
							ag==
							</data>
							<key>Size</key>
							<integer>10604</integer>
						</dict>
						<key>news_files/archive-2010.html</key>
						<dict>
							<key>Digest</key>
							<data>
							hJLv+VKAT+f70xI08clV
							rw==
							</data>
							<key>Size</key>
							<integer>15241</integer>
						</dict>
						<key>news_files/archive-2011.html</key>
						<dict>
							<key>Digest</key>
							<data>
							h+hP2r/lSpnU6NdVFPI3
							VA==
							</data>
							<key>Size</key>
							<integer>22342</integer>
						</dict>
						<key>news_files/archive-2012.html</key>
						<dict>
							<key>Digest</key>
							<data>
							n1R040w9pGeOrsE45Yki
							Dg==
							</data>
							<key>Size</key>
							<integer>11477</integer>
						</dict>
						<key>news_files/boxturtlecamp-300x230.png</key>
						<dict>
							<key>Digest</key>
							<data>
							nliYm3rFpcpuegd6Mt26
							Lg==
							</data>
							<key>Size</key>
							<integer>29666</integer>
						</dict>
						<key>news_files/category-news.html</key>
						<dict>
							<key>Digest</key>
							<data>
							SxgXgaZwA7roPCzvjaWC
							sw==
							</data>
							<key>Size</key>
							<integer>29569</integer>
						</dict>
						<key>news_files/d41483b5252a45c564446c98983b0d28-16.html</key>
						<dict>
							<key>Digest</key>
							<data>
							3DfVc57JgAXcPlCLbtfv
							rQ==
							</data>
							<key>Size</key>
							<integer>11218</integer>
						</dict>
						<key>news_files/directional-traffic-signs-deliveries-with-left-arrow-l4099-ba.png</key>
						<dict>
							<key>Digest</key>
							<data>
							OdRgTZHoYbRmbcbHwsgY
							mA==
							</data>
							<key>Size</key>
							<integer>11954</integer>
						</dict>
						<key>news_files/e8e9e2d8b2290e3918567534353f29cd-7.html</key>
						<dict>
							<key>Digest</key>
							<data>
							qvECFAX8z5stLNDPLwXk
							SQ==
							</data>
							<key>Size</key>
							<integer>10874</integer>
						</dict>
						<key>news_files/icon_confused.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							Sv/tG1Xl9zyfBnWufQrY
							Iw==
							</data>
							<key>Size</key>
							<integer>171</integer>
						</dict>
						<key>news_files/icon_wink.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							8Fgga7j/cy2+jnqhDXTJ
							zQ==
							</data>
							<key>Size</key>
							<integer>170</integer>
						</dict>
						<key>news_files/monkey-face-cartoon.png</key>
						<dict>
							<key>Digest</key>
							<data>
							FcPoEyFY2OkK3lOEuw5V
							bg==
							</data>
							<key>Size</key>
							<integer>15295</integer>
						</dict>
						<key>news_files/road-work-ahead.png</key>
						<dict>
							<key>Digest</key>
							<data>
							mkvBDzytE0Cb3O8vVbLE
							PQ==
							</data>
							<key>Size</key>
							<integer>120177</integer>
						</dict>
						<key>news_files/shapeimage_2-300x141.png</key>
						<dict>
							<key>Digest</key>
							<data>
							FjKBBM+8XlrQQq0q6cuB
							5w==
							</data>
							<key>Size</key>
							<integer>25444</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page0</string>
					<key>SiteRoot</key>
					<string>news</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
