<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commands</key>
	<dict>
		<key>quicktime_to_audio_file</key>
		<string>$qt_export $input_file --video=0 $tmp_audio_file</string>
		<key>quicktime_to_yuv</key>
		<string>$movtoy4m -w $input_video_width -h $input_video_height $input_file </string>
		<key>yuv_to_ffmpeg</key>
		<string>$ffmpeg -y -i - -i $tmp_audio_file -vcodec $ffmpeg_vcodec -b $bitrate $output_file</string>
	</dict>
	<key>map</key>
	<dict>
		<key>quicktime_iphone</key>
		<string>quicktime_to_audio_file ; quicktime_to_yuv | yuv_to_ffmpeg</string>
	</dict>
</dict>
</plist>
