<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commands</key>
	<dict>
		<key>ffmpeg_pass0</key>
		<string>-vpre $ffmpeg_vpre</string>
		<key>ffmpeg_pass1</key>
		<string>-vpre $ffmpeg_vpre_pass1 -pass 1 -passlogfile $pass_log_file</string>
		<key>ffmpeg_pass2</key>
		<string>-vpre $ffmpeg_vpre -pass 2 -passlogfile $pass_log_file</string>
		<key>ffmpeg_options</key>
		<string>-vcodec $ffmpeg_vcodec -b $bitrate -s $ffmpeg_output_video_size </string>
		<key>quicktime_to_audio_file</key>
		<string>$qt_export $input_file --video=0 $tmp_audio_file</string>
		<key>correct_yuv</key>
		<string>$yuvcorrect -v 0 -Y LUMINANCE_1.20_0_255_0_255 -Y CHROMINANCE_0_1.04_128_1.04_128_0_255</string>
		<key>quicktime_to_yuv</key>
		<string>$movtoy4m -f -w $input_video_width -h $input_video_height -F $framerate -a $aspect_ratio $input_file | !correct_yuv</string>
		<key>yuv_to_ffmpeg_av</key>
		<string>$ffmpeg -y -i - -i $tmp_audio_file</string>
		<key>yuv_to_ffmpeg_v</key>
		<string>$ffmpeg -y -i -</string>
		<key>ffmpeg_normal</key>
		<string>$ffmpeg -y -i $input_file</string>
		<key>quicktime_av_pass0</key>
		<string>!quicktime_to_yuv | !yuv_to_ffmpeg_av !ffmpeg_options !ffmpeg_pass0 $output_file</string>
		<key>quicktime_av_pass1</key>
		<string>!quicktime_to_yuv | !yuv_to_ffmpeg_av !ffmpeg_options !ffmpeg_pass1 $output_file</string>
		<key>quicktime_av_pass2</key>
		<string>!quicktime_to_yuv | !yuv_to_ffmpeg_av !ffmpeg_options !ffmpeg_pass2 $output_file</string>
		<key>quicktime_v_pass0</key>
		<string>!quicktime_to_yuv | !yuv_to_ffmpeg_v !ffmpeg_options !ffmpeg_pass0 $output_file</string>
		<key>quicktime_v_pass1</key>
		<string>!quicktime_to_yuv | !yuv_to_ffmpeg_v !ffmpeg_options !ffmpeg_pass1 $output_file</string>
		<key>quicktime_v_pass2</key>
		<string>!quicktime_to_yuv | !yuv_to_ffmpeg_v !ffmpeg_options !ffmpeg_pass2 $output_file</string>
		<key>normal_pass0</key>
		<string>!ffmpeg_normal !ffmpeg_options !ffmpeg_pass0 $output_file</string>
		<key>normal_pass1</key>
		<string>!ffmpeg_normal !ffmpeg_options !ffmpeg_pass1 $output_file</string>
		<key>normal_pass2</key>
		<string>!ffmpeg_normal !ffmpeg_options !ffmpeg_pass2 $output_file</string>
	</dict>
	<key>jobs</key>
	<dict>
		<key>default</key>
		<dict>
			<key>output-file-suffix</key>
			<string>mp4</string>
			<key>quicktime-av</key>
			<string>!quicktime_to_audio_file ; !quicktime_av_pass0</string>
			<key>quicktime-av-2pass</key>
			<string>!quicktime_to_audio_file ; !quicktime_av_pass1 ; !quicktime_av_pass2</string>
			<key>quicktime-v</key>
			<string>!quicktime_v_pass0</string>
			<key>quicktime-v-2pass</key>
			<string>!quicktime_v_pass1 ; !quicktime_v_pass2</string>
			<key>normal-av</key>
			<string>!normal_pass0</string>
			<key>normal-av-2pass</key>
			<string>!normal_pass1 ; !normal_pass2</string>
			<key>normal-v</key>
			<string>!normal_pass0</string>
			<key>normal-v-2pass</key>
			<string>!normal_pass1 ; !normal_pass2</string>
		</dict>
		<key>iPhone</key>
		<dict/>
	</dict>
</dict>
</plist>
