<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mov</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Quicktime Movie File</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp4</string>
				<string>m4v</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MPeg4 VIdeo File</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wmv</string>
				<string>avi</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Windows Media File</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mkv</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MKV File</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mpg</string>
				<string>mpeg</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MPeg2 Video File</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dv</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>DV File</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>VideoMonkeyDevel</string>
	<key>CFBundleIdentifier</key>
	<string>org.VideoMonkey.${PRODUCT_NAME:identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.4</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2009 Chris Marrin</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUFeedURL</key>
	<string>http://videomonkey.org/releases/videomonkeycast.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
</dict>
</plist>
