<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Video Monkey News</string>
				<key>ID</key>
				<string>page0</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Custom Style</string>
				<key>PageTitle</key>
				<string>News</string>
				<key>PluginClassName</key>
				<string>RWBlogPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Blog</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2012-09-29T02:03:49Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>D3620340-95D6-4CC8-90EC-9FE5B8ED23CB</string>
					<key>PageDigests</key>
					<dict>
						<key>favicon.ico</key>
						<dict>
							<key>Digest</key>
							<data>
							Vvltjl322ERfiIcK9HuF
							cQ==
							</data>
							<key>Size</key>
							<integer>1406</integer>
						</dict>
						<key>files/1e1a842f4cbb152768f3b1ddd4c65571-5.html</key>
						<dict>
							<key>Digest</key>
							<data>
							VfiKpnwFC6d7U9E4Fdii
							EQ==
							</data>
							<key>Size</key>
							<integer>18658</integer>
						</dict>
						<key>files/3968df0b7cf21491c9f8bfdb9cef70b2-3.html</key>
						<dict>
							<key>Digest</key>
							<data>
							H4/KwFxMPCqlq4l0KGDa
							jw==
							</data>
							<key>Size</key>
							<integer>15746</integer>
						</dict>
						<key>files/3ab3b5fb1f304856c861265d8469e7b1-2.html</key>
						<dict>
							<key>Digest</key>
							<data>
							DlyMUHe5Uek2oHksWtJZ
							hg==
							</data>
							<key>Size</key>
							<integer>15414</integer>
						</dict>
						<key>files/6d8f3231ddde1ea5a011231089d35c50-11.html</key>
						<dict>
							<key>Digest</key>
							<data>
							z6ChHBYGKcSZKcOSP2D7
							6w==
							</data>
							<key>Size</key>
							<integer>15028</integer>
						</dict>
						<key>files/6fe5fbb8bfc0d37f8255229d331416ac-10.html</key>
						<dict>
							<key>Digest</key>
							<data>
							UjK8wy8pUtVzXYb1az8X
							rA==
							</data>
							<key>Size</key>
							<integer>16039</integer>
						</dict>
						<key>files/74e2265a3a8f46c992ddb847828a9dd1-0.html</key>
						<dict>
							<key>Digest</key>
							<data>
							w3+EmIaRI5bqa9cahebg
							wQ==
							</data>
							<key>Size</key>
							<integer>15640</integer>
						</dict>
						<key>files/75a2c36f9791f796c0286218bf216665-4.html</key>
						<dict>
							<key>Digest</key>
							<data>
							1TSCWou4/S0hVn1Mqa7f
							pQ==
							</data>
							<key>Size</key>
							<integer>17090</integer>
						</dict>
						<key>files/75a3fbe8b7740fdd5eb0761875bf9b78-12.html</key>
						<dict>
							<key>Digest</key>
							<data>
							pSXaQ7JNRW7590TXE377
							tA==
							</data>
							<key>Size</key>
							<integer>15133</integer>
						</dict>
						<key>files/853ef4aaaf591e3378f1f63a3fcd2bb1-9.html</key>
						<dict>
							<key>Digest</key>
							<data>
							Th/qK3iqst3lM+n3HJu9
							sA==
							</data>
							<key>Size</key>
							<integer>17231</integer>
						</dict>
						<key>files/archive-2009.html</key>
						<dict>
							<key>Digest</key>
							<data>
							6DY7Rjd0cAcokK0WP4W1
							hA==
							</data>
							<key>Size</key>
							<integer>15192</integer>
						</dict>
						<key>files/archive-2010.html</key>
						<dict>
							<key>Digest</key>
							<data>
							BMYKSO/wtg4/pAu4fteV
							gQ==
							</data>
							<key>Size</key>
							<integer>20112</integer>
						</dict>
						<key>files/archive-2011.html</key>
						<dict>
							<key>Digest</key>
							<data>
							lOxXdHumXn1tEMN57baa
							MA==
							</data>
							<key>Size</key>
							<integer>27634</integer>
						</dict>
						<key>files/archive-2012.html</key>
						<dict>
							<key>Digest</key>
							<data>
							pNdODlEeLo8U5kVqlen+
							9A==
							</data>
							<key>Size</key>
							<integer>17916</integer>
						</dict>
						<key>files/boxturtlecamp-300x230.png</key>
						<dict>
							<key>Digest</key>
							<data>
							nliYm3rFpcpuegd6Mt26
							Lg==
							</data>
							<key>Size</key>
							<integer>29666</integer>
						</dict>
						<key>files/category-news.html</key>
						<dict>
							<key>Digest</key>
							<data>
							ZKDBVppEQjSp8n5R5B+t
							IA==
							</data>
							<key>Size</key>
							<integer>35582</integer>
						</dict>
						<key>files/d41483b5252a45c564446c98983b0d28-16.html</key>
						<dict>
							<key>Digest</key>
							<data>
							qc5rv7RAiG+hxKSFaWsh
							PA==
							</data>
							<key>Size</key>
							<integer>16036</integer>
						</dict>
						<key>files/d59a54f56dab436140835473b2040ee9-17.html</key>
						<dict>
							<key>Digest</key>
							<data>
							Hfrz3YI5hboUVMbs98ND
							4Q==
							</data>
							<key>Size</key>
							<integer>15979</integer>
						</dict>
						<key>files/directional-traffic-signs-deliveries-with-left-arrow-l4099-ba.png</key>
						<dict>
							<key>Digest</key>
							<data>
							OdRgTZHoYbRmbcbHwsgY
							mA==
							</data>
							<key>Size</key>
							<integer>11954</integer>
						</dict>
						<key>files/e8e9e2d8b2290e3918567534353f29cd-7.html</key>
						<dict>
							<key>Digest</key>
							<data>
							q4z3shES0s9IBs/iOgDj
							1Q==
							</data>
							<key>Size</key>
							<integer>15680</integer>
						</dict>
						<key>files/icon_confused.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							Sv/tG1Xl9zyfBnWufQrY
							Iw==
							</data>
							<key>Size</key>
							<integer>171</integer>
						</dict>
						<key>files/icon_wink.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							8Fgga7j/cy2+jnqhDXTJ
							zQ==
							</data>
							<key>Size</key>
							<integer>170</integer>
						</dict>
						<key>files/monkey-face-cartoon.png</key>
						<dict>
							<key>Digest</key>
							<data>
							FcPoEyFY2OkK3lOEuw5V
							bg==
							</data>
							<key>Size</key>
							<integer>15295</integer>
						</dict>
						<key>files/road-work-ahead.png</key>
						<dict>
							<key>Digest</key>
							<data>
							mkvBDzytE0Cb3O8vVbLE
							PQ==
							</data>
							<key>Size</key>
							<integer>120177</integer>
						</dict>
						<key>files/shapeimage_2-300x141.png</key>
						<dict>
							<key>Digest</key>
							<data>
							FjKBBM+8XlrQQq0q6cuB
							5w==
							</data>
							<key>Size</key>
							<integer>25444</integer>
						</dict>
						<key>index.html</key>
						<dict>
							<key>Digest</key>
							<data>
							qjwEIPOVD27w2TZRpYI2
							gA==
							</data>
							<key>Size</key>
							<integer>36239</integer>
						</dict>
						<key>rw_common/version.txt</key>
						<dict>
							<key>Digest</key>
							<data>
							1CVKDnqho1GYPWs7TBgW
							6g==
							</data>
							<key>Size</key>
							<integer>4</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page0</string>
					<key>SiteRoot</key>
					<string></string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
