<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>ID</key>
				<string>page14</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Custom Style</string>
				<key>PageTitle</key>
				<string>Blog</string>
				<key>PluginClassName</key>
				<string>RWBlogPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Blog</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2012-09-07T14:56:57Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>D3620340-95D6-4CC8-90EC-9FE5B8ED23CB</string>
					<key>PageDigests</key>
					<dict>
						<key>blog.html</key>
						<dict>
							<key>Digest</key>
							<data>
							Ol5PwMky+8p07XtLywGF
							rg==
							</data>
							<key>Size</key>
							<integer>39207</integer>
						</dict>
						<key>files/3e093e4c8a8a88984f5c02464ddd413b-4.html</key>
						<dict>
							<key>Digest</key>
							<data>
							4+FzpscC8vUdPvORdTLp
							3w==
							</data>
							<key>Size</key>
							<integer>18296</integer>
						</dict>
						<key>files/64bit_highway_3.png</key>
						<dict>
							<key>Digest</key>
							<data>
							Cm+2CQVwbvH2uPGoLKa8
							yg==
							</data>
							<key>Size</key>
							<integer>20007</integer>
						</dict>
						<key>files/a2344fe3638137dadc45f6286ac78652-2.html</key>
						<dict>
							<key>Digest</key>
							<data>
							2BgSEr/pGrZelIgh5oL1
							Mg==
							</data>
							<key>Size</key>
							<integer>21380</integer>
						</dict>
						<key>files/a636532948ded8c65c4ac1be68aba761-1.html</key>
						<dict>
							<key>Digest</key>
							<data>
							4YU1/lf+Axdv/8qcwX7J
							Ew==
							</data>
							<key>Size</key>
							<integer>18398</integer>
						</dict>
						<key>files/archive-feb-2011.html</key>
						<dict>
							<key>Digest</key>
							<data>
							hHv1fxXIEdPd3nMH7/CO
							QA==
							</data>
							<key>Size</key>
							<integer>20241</integer>
						</dict>
						<key>files/archive-jan-2011.html</key>
						<dict>
							<key>Digest</key>
							<data>
							TTqmZho2dqkk47xvoZMG
							Fg==
							</data>
							<key>Size</key>
							<integer>18484</integer>
						</dict>
						<key>files/archive-jul-2009.html</key>
						<dict>
							<key>Digest</key>
							<data>
							Oqya94+HHFL1WhXbhxOE
							oQ==
							</data>
							<key>Size</key>
							<integer>21465</integer>
						</dict>
						<key>files/archive-mar-2009.html</key>
						<dict>
							<key>Digest</key>
							<data>
							8BVu5Eb/WbD/YVAkE9ag
							rA==
							</data>
							<key>Size</key>
							<integer>23651</integer>
						</dict>
						<key>files/archive-sep-2012.html</key>
						<dict>
							<key>Digest</key>
							<data>
							qUsPRQCEBaJE6UNhL1sK
							sw==
							</data>
							<key>Size</key>
							<integer>16674</integer>
						</dict>
						<key>files/c8eaacbf43e8fb072388b0cfaf781138-3.html</key>
						<dict>
							<key>Digest</key>
							<data>
							5bIlQdHK3HrhOXcz3+8i
							Fw==
							</data>
							<key>Size</key>
							<integer>19496</integer>
						</dict>
						<key>files/category-blog.html</key>
						<dict>
							<key>Digest</key>
							<data>
							oyjAPB/fRFYC5WWzY8WE
							DA==
							</data>
							<key>Size</key>
							<integer>40662</integer>
						</dict>
						<key>files/ef2d47d6d9e4061f1fbcd69f8552480a-0.html</key>
						<dict>
							<key>Digest</key>
							<data>
							uVi7IGRGb8iyXyPxbLY2
							pA==
							</data>
							<key>Size</key>
							<integer>20189</integer>
						</dict>
						<key>files/fdb5ff87724cacafdfa2155cbcfa7c06-5.html</key>
						<dict>
							<key>Digest</key>
							<data>
							yYdQjNkei625HHWX0oAG
							Eg==
							</data>
							<key>Size</key>
							<integer>16628</integer>
						</dict>
						<key>files/moving-day.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							T0AQKpMQTrV8GRnH5NhM
							uQ==
							</data>
							<key>Size</key>
							<integer>98596</integer>
						</dict>
						<key>files/shapeimage_3-1-300x226.png</key>
						<dict>
							<key>Digest</key>
							<data>
							wnINglXSzVLB9GwGxJ8M
							qA==
							</data>
							<key>Size</key>
							<integer>100744</integer>
						</dict>
						<key>files/shapeimage_3-21.png</key>
						<dict>
							<key>Digest</key>
							<data>
							83J9r6tQWiJfjc8VockO
							QQ==
							</data>
							<key>Size</key>
							<integer>124541</integer>
						</dict>
						<key>files/shapeimage_3-300x226.png</key>
						<dict>
							<key>Digest</key>
							<data>
							Dbj2uo3V20Nj769vPfr6
							bg==
							</data>
							<key>Size</key>
							<integer>102707</integer>
						</dict>
						<key>files/smiley.png</key>
						<dict>
							<key>Digest</key>
							<data>
							EuTK/CYvIrae+fiVGqa4
							cw==
							</data>
							<key>Size</key>
							<integer>4429</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page14</string>
					<key>SiteRoot</key>
					<string>blog</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
