<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>ID</key>
				<string>page2</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Blog</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Isaiah Carew - YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2012-06-12T14:04:55Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>D3620340-95D6-4CC8-90EC-9FE5B8ED23CB</string>
					<key>PageDigests</key>
					<dict>
						<key>index.html</key>
						<dict>
							<key>Digest</key>
							<data>
							Uc+ZVkRrP9peLWc9ZWP1
							+w==
							</data>
							<key>Size</key>
							<integer>36604</integer>
						</dict>
						<key>index_files/feed.xml</key>
						<dict>
							<key>Digest</key>
							<data>
							O4mU88jSjDpj4L7WUdqK
							kw==
							</data>
							<key>Size</key>
							<integer>27418</integer>
						</dict>
						<key>index_files/film.png</key>
						<dict>
							<key>Digest</key>
							<data>
							AqzCuVfvWmWDvMbCeVLd
							BA==
							</data>
							<key>Size</key>
							<integer>19032</integer>
						</dict>
						<key>index_files/moving-day.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							T0AQKpMQTrV8GRnH5NhM
							uQ==
							</data>
							<key>Size</key>
							<integer>98596</integer>
						</dict>
						<key>index_files/rss.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							ySu0h74kFZbdw1d11rHD
							PA==
							</data>
							<key>Size</key>
							<integer>219</integer>
						</dict>
						<key>index_files/shapeimage_3-1-300x226.png</key>
						<dict>
							<key>Digest</key>
							<data>
							wnINglXSzVLB9GwGxJ8M
							qA==
							</data>
							<key>Size</key>
							<integer>100744</integer>
						</dict>
						<key>index_files/shapeimage_3-21.png</key>
						<dict>
							<key>Digest</key>
							<data>
							83J9r6tQWiJfjc8VockO
							QQ==
							</data>
							<key>Size</key>
							<integer>124541</integer>
						</dict>
						<key>index_files/shapeimage_3-300x226.png</key>
						<dict>
							<key>Digest</key>
							<data>
							Dbj2uo3V20Nj769vPfr6
							bg==
							</data>
							<key>Size</key>
							<integer>102707</integer>
						</dict>
						<key>index_files/smiley.png</key>
						<dict>
							<key>Digest</key>
							<data>
							EuTK/CYvIrae+fiVGqa4
							cw==
							</data>
							<key>Size</key>
							<integer>4429</integer>
						</dict>
						<key>index_files/smiley_angry.png</key>
						<dict>
							<key>Digest</key>
							<data>
							OsvBGlBtLs1CxAB3/F5v
							kA==
							</data>
							<key>Size</key>
							<integer>1275</integer>
						</dict>
						<key>index_files/smiley_embarrassed.png</key>
						<dict>
							<key>Digest</key>
							<data>
							Ok+zrbTJSQbzYHvbtXa5
							FQ==
							</data>
							<key>Size</key>
							<integer>1310</integer>
						</dict>
						<key>index_files/smiley_footinmouth.png</key>
						<dict>
							<key>Digest</key>
							<data>
							oNlmERQNe+JvbhxYf6Q/
							sQ==
							</data>
							<key>Size</key>
							<integer>1254</integer>
						</dict>
						<key>index_files/smiley_gasp.png</key>
						<dict>
							<key>Digest</key>
							<data>
							3fIF+LsL4I973PnZdsHY
							dg==
							</data>
							<key>Size</key>
							<integer>1208</integer>
						</dict>
						<key>index_files/smiley_laugh.png</key>
						<dict>
							<key>Digest</key>
							<data>
							aiKkmJLIzkmwI7ENY7ns
							/A==
							</data>
							<key>Size</key>
							<integer>1283</integer>
						</dict>
						<key>index_files/smiley_sad.png</key>
						<dict>
							<key>Digest</key>
							<data>
							JrI6GFcEDYoDNPeCi0NJ
							DQ==
							</data>
							<key>Size</key>
							<integer>1263</integer>
						</dict>
						<key>index_files/smiley_smile.png</key>
						<dict>
							<key>Digest</key>
							<data>
							ek1FWaeOXYzGu9xa5IUf
							6A==
							</data>
							<key>Size</key>
							<integer>1240</integer>
						</dict>
						<key>index_files/smiley_wink.png</key>
						<dict>
							<key>Digest</key>
							<data>
							zIRR5aU+gUMZuXop1aVL
							FA==
							</data>
							<key>Size</key>
							<integer>1236</integer>
						</dict>
						<key>index_files/stacks_page_page2.css</key>
						<dict>
							<key>Digest</key>
							<data>
							1B2M2Y8AsgTpgAmY7PhC
							fg==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>index_files/stacks_page_page2.js</key>
						<dict>
							<key>Digest</key>
							<data>
							4nf49Kcs/AKiir2hdl+8
							Qg==
							</data>
							<key>Size</key>
							<integer>135</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page2</string>
					<key>SiteRoot</key>
					<string>blog</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
