<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>ID</key>
				<string>page14</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Blog</string>
				<key>PluginClassName</key>
				<string>RWBlogPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Blog</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2012-06-12T14:04:57Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>D3620340-95D6-4CC8-90EC-9FE5B8ED23CB</string>
					<key>PageDigests</key>
					<dict>
						<key>blog.html</key>
						<dict>
							<key>Digest</key>
							<data>
							LWIJV/anZKazVCO2sOC5
							iw==
							</data>
							<key>Size</key>
							<integer>36761</integer>
						</dict>
						<key>blog_files/3e093e4c8a8a88984f5c02464ddd413b-4.html</key>
						<dict>
							<key>Digest</key>
							<data>
							+F+SXvlgSHcpLXsyyILC
							gw==
							</data>
							<key>Size</key>
							<integer>14574</integer>
						</dict>
						<key>blog_files/a2344fe3638137dadc45f6286ac78652-2.html</key>
						<dict>
							<key>Digest</key>
							<data>
							CwVt+Gokl6Fhof43g3tk
							Fw==
							</data>
							<key>Size</key>
							<integer>17528</integer>
						</dict>
						<key>blog_files/a636532948ded8c65c4ac1be68aba761-1.html</key>
						<dict>
							<key>Digest</key>
							<data>
							dwpDYGh16eWYe/lJxkvQ
							DQ==
							</data>
							<key>Size</key>
							<integer>14676</integer>
						</dict>
						<key>blog_files/archive-feb-2011.html</key>
						<dict>
							<key>Digest</key>
							<data>
							XFF78tTdWKRcx9YcXUkF
							qA==
							</data>
							<key>Size</key>
							<integer>16739</integer>
						</dict>
						<key>blog_files/archive-jan-2011.html</key>
						<dict>
							<key>Digest</key>
							<data>
							xDhSUS/oJcGma60uy645
							DA==
							</data>
							<key>Size</key>
							<integer>14935</integer>
						</dict>
						<key>blog_files/archive-jul-2009.html</key>
						<dict>
							<key>Digest</key>
							<data>
							JDaWfwRa3vQfsvLcjT23
							VA==
							</data>
							<key>Size</key>
							<integer>17833</integer>
						</dict>
						<key>blog_files/archive-mar-2009.html</key>
						<dict>
							<key>Digest</key>
							<data>
							k6ZFWC/QpVLqdCmJGuAv
							/g==
							</data>
							<key>Size</key>
							<integer>20008</integer>
						</dict>
						<key>blog_files/c8eaacbf43e8fb072388b0cfaf781138-3.html</key>
						<dict>
							<key>Digest</key>
							<data>
							9IHshMOHYwRmsVsDf9vk
							9A==
							</data>
							<key>Size</key>
							<integer>15774</integer>
						</dict>
						<key>blog_files/category-blog.html</key>
						<dict>
							<key>Digest</key>
							<data>
							qTV9Su2UHqISVH+j23SG
							sg==
							</data>
							<key>Size</key>
							<integer>36466</integer>
						</dict>
						<key>blog_files/ef2d47d6d9e4061f1fbcd69f8552480a-0.html</key>
						<dict>
							<key>Digest</key>
							<data>
							B4+3wc2sbQfeoN4Leblj
							eQ==
							</data>
							<key>Size</key>
							<integer>16467</integer>
						</dict>
						<key>blog_files/feed.xml</key>
						<dict>
							<key>Digest</key>
							<data>
							RlJgAD1LBsOX6h2qHfgY
							PQ==
							</data>
							<key>Size</key>
							<integer>27403</integer>
						</dict>
						<key>blog_files/moving-day.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							T0AQKpMQTrV8GRnH5NhM
							uQ==
							</data>
							<key>Size</key>
							<integer>98596</integer>
						</dict>
						<key>blog_files/shapeimage_3-1-300x226.png</key>
						<dict>
							<key>Digest</key>
							<data>
							wnINglXSzVLB9GwGxJ8M
							qA==
							</data>
							<key>Size</key>
							<integer>100744</integer>
						</dict>
						<key>blog_files/shapeimage_3-21.png</key>
						<dict>
							<key>Digest</key>
							<data>
							83J9r6tQWiJfjc8VockO
							QQ==
							</data>
							<key>Size</key>
							<integer>124541</integer>
						</dict>
						<key>blog_files/shapeimage_3-300x226.png</key>
						<dict>
							<key>Digest</key>
							<data>
							Dbj2uo3V20Nj769vPfr6
							bg==
							</data>
							<key>Size</key>
							<integer>102707</integer>
						</dict>
						<key>blog_files/smiley.png</key>
						<dict>
							<key>Digest</key>
							<data>
							EuTK/CYvIrae+fiVGqa4
							cw==
							</data>
							<key>Size</key>
							<integer>4429</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page14</string>
					<key>SiteRoot</key>
					<string>blog</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
