<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>Changed</key>
				<false/>
				<key>ColourStyles</key>
				<dict>
					<key>Dexture v1.3</key>
					<dict/>
					<key>Flexture v1.3</key>
					<dict/>
				</dict>
				<key>CreditRapidWeaver</key>
				<true/>
				<key>CustomCopyrightUsed</key>
				<false/>
				<key>CustomSiteTitleUsed</key>
				<false/>
				<key>CustomSloganUsed</key>
				<false/>
				<key>DefaultLinkTarget</key>
				<string>self</string>
				<key>FilenameExtension</key>
				<string>html</string>
				<key>FolderName</key>
				<string>styled-9</string>
				<key>HasCustomThemeStyle</key>
				<false/>
				<key>Hidden</key>
				<true/>
				<key>ImageFormat</key>
				<string>Original</string>
				<key>ImageQuality</key>
				<string>High</string>
				<key>IndexFilename</key>
				<string>index.html</string>
				<key>OutputFormat</key>
				<string>Default</string>
				<key>OutputXMLDeclaration</key>
				<false/>
				<key>SidebarEnabled</key>
				<integer>1</integer>
				<key>TextEncoding</key>
				<string>utf-8</string>
				<key>ThemeStyles</key>
				<dict>
					<key>Flexture v1.3</key>
					<array>
						<string>Advanced Site Options.Advanced Site Options - FancyZoom Support</string>
						<string>Advanced Site Options.Advanced Site Options - iPad Support</string>
						<string>Advanced Site Options.Advanced Site Options - Javascript Animations for Drop Down Main Menu</string>
						<string>Background Graphic.Background - Paper</string>
						<string>Background Position.Background - Top Center</string>
						<string>Background Repeat.Background - Repeat</string>
						<string>Breadcrumb Trail - Display &amp; Alignment.Breadcrumb Trail - Right</string>
						<string>Colors - Breadcrumb (Must be enabled in Site Setup).Breadcrumb - Dark Transparent Background</string>
						<string>Colors - Footer.Footer - Dark Transparent Background</string>
						<string>Colors - Sub Menu.Sub Menu - No Transparency</string>
						<string>ExtraContent Area 6 Background Graphic.EC6 Background - Concrete</string>
						<string>ExtraContent Area 7 Background Graphic.EC7 - Dark Transparent Background</string>
						<string>Font Size.Font Size - Medium</string>
						<string>Footer - Alignment.Footer - Center</string>
						<string>Header Image Height.Header Height 200px</string>
						<string>Header Image Selection.image2.jpg</string>
						<string>Line Spacing (For Main Content, Sidebar, &amp; ExtraContent).Normal Line Height</string>
						<string>Main Menu - Display &amp; Alignment.Main Menu - Right</string>
						<string>Main Menu - Font Size.Main Menu - Font Size - Medium</string>
						<string>Main Menu - Font.Main Menu Font - Georgia</string>
						<string>Main Menu - Function Type.Main Menu - Drop Down Menu</string>
						<string>Main Menu - Placement.Main Menu - Above Header Image</string>
						<string>Main Menu - Text Options.Normal Menu Text</string>
						<string>Sidebar - Display Options.Sidebar Right</string>
						<string>Sidebar - Width.Sidebar Width - 26 Percent</string>
						<string>Site Font.Site Font - Georgia</string>
						<string>Site Width.Site Width - 960px</string>
						<string>Slogan - Font Size.Slogan - Font Size - Small</string>
						<string>Slogan - Placement.Slogan - Inline with Site Titlel</string>
						<string>Title &amp; Slogan - Display &amp; Alignment.Title &amp; Slogan - Left</string>
						<string>Title &amp; Slogan - Font.Title &amp; Slogan Font - Georgia</string>
						<string>Title &amp; Slogan - Overlap.Title &amp; Slogan - 10% Overlap</string>
						<string>Title &amp; Slogan - Transparency.Title &amp; Slogan - 50% Transparency</string>
						<string>Title - Font Size.Title - Font Size - Medium</string>
						<string>VIP (Visitor Interaction Panel) Display &amp; Color Options.VIP Align Right</string>
						<string>VIP Behavior.VIP Behavior - Pulse VIP</string>
					</array>
				</dict>
			</dict>
			<key>Files</key>
			<array>
				<string>Sidebar.as</string>
			</array>
			<key>Subsandwiches</key>
			<array/>
		</dict>
	</array>
	<key>Type</key>
	<string>Page Attributes</string>
</dict>
</plist>
