<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>ID</key>
				<string>page6</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>News Header</string>
				<key>PluginClassName</key>
				<string>RWStyledPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Styled Text</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2012-06-12T14:04:52Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>D3620340-95D6-4CC8-90EC-9FE5B8ED23CB</string>
					<key>PageDigests</key>
					<dict>
						<key>header.html</key>
						<dict>
							<key>Digest</key>
							<data>
							wTkqUQKCg9rEorAWRcf+
							mw==
							</data>
							<key>Size</key>
							<integer>8936</integer>
						</dict>
						<key>header_files/newspaper_small.png</key>
						<dict>
							<key>Digest</key>
							<data>
							13cR2kt1PxSdFSVqxhhH
							SA==
							</data>
							<key>Size</key>
							<integer>26652</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page6</string>
					<key>SiteRoot</key>
					<string>news</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
