<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>ID</key>
				<string>page11</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>News</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Isaiah Carew - YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2012-06-12T14:04:51Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>D3620340-95D6-4CC8-90EC-9FE5B8ED23CB</string>
					<key>PageDigests</key>
					<dict>
						<key>favicon.ico</key>
						<dict>
							<key>Digest</key>
							<data>
							Vvltjl322ERfiIcK9HuF
							cQ==
							</data>
							<key>Size</key>
							<integer>1406</integer>
						</dict>
						<key>files/boxturtlecamp-300x230.png</key>
						<dict>
							<key>Digest</key>
							<data>
							nliYm3rFpcpuegd6Mt26
							Lg==
							</data>
							<key>Size</key>
							<integer>29666</integer>
						</dict>
						<key>files/directional-traffic-signs-deliveries-with-left-arrow-l4099-ba.png</key>
						<dict>
							<key>Digest</key>
							<data>
							OdRgTZHoYbRmbcbHwsgY
							mA==
							</data>
							<key>Size</key>
							<integer>11954</integer>
						</dict>
						<key>files/icon_confused.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							Sv/tG1Xl9zyfBnWufQrY
							Iw==
							</data>
							<key>Size</key>
							<integer>171</integer>
						</dict>
						<key>files/icon_wink.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							8Fgga7j/cy2+jnqhDXTJ
							zQ==
							</data>
							<key>Size</key>
							<integer>170</integer>
						</dict>
						<key>files/monkey-face-cartoon.png</key>
						<dict>
							<key>Digest</key>
							<data>
							FcPoEyFY2OkK3lOEuw5V
							bg==
							</data>
							<key>Size</key>
							<integer>15295</integer>
						</dict>
						<key>files/newspaper_small.png</key>
						<dict>
							<key>Digest</key>
							<data>
							13cR2kt1PxSdFSVqxhhH
							SA==
							</data>
							<key>Size</key>
							<integer>26652</integer>
						</dict>
						<key>files/road-work-ahead.png</key>
						<dict>
							<key>Digest</key>
							<data>
							mkvBDzytE0Cb3O8vVbLE
							PQ==
							</data>
							<key>Size</key>
							<integer>120177</integer>
						</dict>
						<key>files/rss.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							ySu0h74kFZbdw1d11rHD
							PA==
							</data>
							<key>Size</key>
							<integer>219</integer>
						</dict>
						<key>files/shapeimage_2-300x141.png</key>
						<dict>
							<key>Digest</key>
							<data>
							FjKBBM+8XlrQQq0q6cuB
							5w==
							</data>
							<key>Size</key>
							<integer>25444</integer>
						</dict>
						<key>files/smiley_angry.png</key>
						<dict>
							<key>Digest</key>
							<data>
							OsvBGlBtLs1CxAB3/F5v
							kA==
							</data>
							<key>Size</key>
							<integer>1275</integer>
						</dict>
						<key>files/smiley_embarrassed.png</key>
						<dict>
							<key>Digest</key>
							<data>
							Ok+zrbTJSQbzYHvbtXa5
							FQ==
							</data>
							<key>Size</key>
							<integer>1310</integer>
						</dict>
						<key>files/smiley_footinmouth.png</key>
						<dict>
							<key>Digest</key>
							<data>
							oNlmERQNe+JvbhxYf6Q/
							sQ==
							</data>
							<key>Size</key>
							<integer>1254</integer>
						</dict>
						<key>files/smiley_gasp.png</key>
						<dict>
							<key>Digest</key>
							<data>
							3fIF+LsL4I973PnZdsHY
							dg==
							</data>
							<key>Size</key>
							<integer>1208</integer>
						</dict>
						<key>files/smiley_laugh.png</key>
						<dict>
							<key>Digest</key>
							<data>
							aiKkmJLIzkmwI7ENY7ns
							/A==
							</data>
							<key>Size</key>
							<integer>1283</integer>
						</dict>
						<key>files/smiley_sad.png</key>
						<dict>
							<key>Digest</key>
							<data>
							JrI6GFcEDYoDNPeCi0NJ
							DQ==
							</data>
							<key>Size</key>
							<integer>1263</integer>
						</dict>
						<key>files/smiley_smile.png</key>
						<dict>
							<key>Digest</key>
							<data>
							ek1FWaeOXYzGu9xa5IUf
							6A==
							</data>
							<key>Size</key>
							<integer>1240</integer>
						</dict>
						<key>files/smiley_wink.png</key>
						<dict>
							<key>Digest</key>
							<data>
							zIRR5aU+gUMZuXop1aVL
							FA==
							</data>
							<key>Size</key>
							<integer>1236</integer>
						</dict>
						<key>files/stacks_page_page11.css</key>
						<dict>
							<key>Digest</key>
							<data>
							1B2M2Y8AsgTpgAmY7PhC
							fg==
							</data>
							<key>Size</key>
							<integer>0</integer>
						</dict>
						<key>files/stacks_page_page11.js</key>
						<dict>
							<key>Digest</key>
							<data>
							4nf49Kcs/AKiir2hdl+8
							Qg==
							</data>
							<key>Size</key>
							<integer>135</integer>
						</dict>
						<key>index.html</key>
						<dict>
							<key>Digest</key>
							<data>
							SolAyCln4XceusxGHuty
							7A==
							</data>
							<key>Size</key>
							<integer>29990</integer>
						</dict>
						<key>rw_common/version.txt</key>
						<dict>
							<key>Digest</key>
							<data>
							N+zSdghICqNWmlEaY4yn
							Tw==
							</data>
							<key>Size</key>
							<integer>4</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page11</string>
					<key>SiteRoot</key>
					<string></string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
